---
layout: default
section_id: home
---

<div class="full" style="background: white;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="CoderDojo Veberöd" %}
      <div class="spacing"></div>
      <p>
        CoderDojo Vebröd är en fristående förening som verkar i CoderDojos anda.
        CoderDojo är en global ideell rörelse med föreningar för barn och ungdomar
        som vill lära sig att programmera och skapa med teknik. Vårt mål är att
        uppmuntra kreativitet och ha kul i en social miljö. (Läs mer
        på <a href="http://coderdojo.com">CoderDojos hemsida</a>.)
      </p>
      <div class="three spacing"></div>
    </div>
  </div>
</div>

<div class='full' style='background: #f5f5f5'>
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Senaste nytt" %}
      <div class="spacing"></div>
      <ul class="post-list">
        {% for post in site.posts limit:3 %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h3>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h3>
        </li>
        <div class="spacing"></div>
        {% endfor %}
      </ul>

      <p class="rss-subscribe">Följ oss <a href="{{ "/feed.xml" | prepend: site.baseurl }}">med RSS</a></p>
      <div class="three spacing"></div>
    </div>
  </div>
</div>




