<div id='footer'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 medium-12 columns'>
      <h4><a href='index.html'>{{site.title}}</a></h4>
      <ul>
        <li><a href="mailto:{{site.email}}"><i class="fa fa-envelope fa-fw"></i> {{site.email}}</a></li>
        <li><a href='https://www.facebook.com/CoderDojoVeberod/'><i class='fa fa-facebook fa-fw'></i> CoderDojoVeberod</a></li>
      </ul>
      <div class='two spacing'></div>
    </div>
  </div>
</div>
<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.validate.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>
