---
layout: default
---

<div class='full' style='background: white;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Nyheter" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>

      {{content}}

      {% if paginator %}
        <div class="pager">
          {% if paginator.next_page %}
            {% if paginator.next_page == 1 %}
              <a href="/news" class="older">Äldre nyheter</a>
            {% else %}
              <a href="/news/page{{ paginator.next_page }}" class="older">Äldre nyheter</a>
            {% endif %}
          {% else %}
            <span class="older">Äldre nyheter</span>
          {% endif %}
          {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
              <a href="/news" class="newer">Nyare nyheter</a>
            {% else %}
              <a href="/news/page{{ paginator.previous_page }}" class="newer">Nyare nyheter</a>
            {% endif %}
          {% else %}
            <span class="newer">Nyare nyheter</span>
          {% endif %}
        </div>
      {% endif %}

      <div class='four spacing'></div>
    </div>
  </div>
</div>
