---
layout: default
---

<div class="full" style="background: white;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title=page.title %}
      <div class="spacing"></div>
      {{ content }}
    </div>
    <div class='four spacing'></div>
  </div>
</div>
