---
layout: blog
section_id: news
---

<div class='row'>
  <div class='large-12 columns'>
    <div class='mod modBlogPost big'>
      <div class='images'>
        {% for image in page.images %}
          <div class='image'><img alt="" src="{{site.url}}/{{image}}" /></div>
        {% endfor %}
      </div>
      <div class='content'>
        <p class='info'>
          <span>{{page.date | date: "%B %d, %Y" }}</span>
        </p>
        <h3><a href="{{page.url}}">{{page.title}}</a></h3>
        {{ content }}
      </div>
    </div>
    <div class='four spacing'></div>
  </div>
</div>
